{% extends 'registration/register_base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<div class="container"  style="flex-grow:1">
		<h2 class="title">Registration Form</h2>
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}


		{{ form_start(registrationForm) }}
		<div class="form-group row">
			{{form_label(registrationForm.username,"Username")}}
			{{ form_widget(registrationForm.username,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group row">
			{{form_label(registrationForm.email,"Email")}}
			{{ form_widget(registrationForm.email,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group row">
			{{form_label(registrationForm.plainPassword.first)}}

			{{ form_widget(registrationForm.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group row">
			{{form_label(registrationForm.plainPassword.second)}}

			{{ form_widget(registrationForm.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group row">


			{{ form_label(registrationForm.agreeTerms,) }}
			{{ form_widget(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-primary my-1">Register</button>

		</div>

		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
{% block extra_javascripts %}<!-- assets/vendor JS--><script src="{{asset("assets/vendor/select2/select2.min.js")}}"></script>
	<script src="{{asset("assets/vendor/datepicker/moment.min.js")}}"></script>
	<script src="{{asset("assets/vendor/datepicker/daterangepicker.js")}}"></script><!-- Main JS--><script src="{{asset("js/global.js")}}"></script>
{% endblock %}
